.navbarItem {
    list-style-type: none;
    /*    display: inline;*/
}

#navSon {
    float: left;
    display: flex;
    flex-direction: row;
}

a {
    color: #00f;
}

.anchor {
    color: black;
}

p,
a span {
    color: #000;
}

.navHam {
    margin-left: 75%;
    /*    margin-top: 0 !important;*/
}

#navFather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    opacity: .7;
}

.glyphicon-menu-hamburger {
    font-size: npx;
    background-color: black;
    color: silver;
}

#myDropdown {
    margin-top: 0;
    padding-top: 0;
    z-index: 999999
/*    position: relative;*/
}


.navbar-inverse .navbar-nav>li>a {
    color: black;
    background-color: white;
    opacity: .9;
}

.navbar-inverse .navbar-nav > li > a:hover, .nav > li > a:focus {
    background-color: black;
    text-decoration: none;
}

/* Dropdown Button */

.dropbtn {
    position: absolute;
    top: 5px;
    background-color: transparent;
    color: black;
    padding-top: 0;
    margin-top: 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    z-index: 1;
    background-color: gray;
    outline: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: gray;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}
