<div id='homeFather' class='row'>
    <div id='homeBack' class='col-xs-12 col-lg-8 box'>
        <center>
            <h1>Welcome</h1>
            <p>This app is created for the average boater or sailer so they can schedule their trip allowing family member to see launch location, time, and expected time back. This app also fetches the local weather along with several other weather related facts about the day pertinent to a boater or sailor Additionally, this app you can also add your favorite fishing hole. Other users can favorite the top fishing holes. </p>
        </center>
        <div class='col-xs-12 col-lg-4 col-lg-offset-4'>
            <h6>Press Button When you are Ready to Launch your Boat:</h6>
            <button type="button" class="btn btn-primary btn-lg" ng-hide="itDoesNotExist == true" ng-click='getLocation()'>Press To Launch</button>

            <div class="result">
            <center><p id="demo"></p>
            <p id="demo2"></p></center>
            </div>
        </div>
    </div>
    <div id='map' class='col-xs-12 col-lg-8'>
        <ng-map center="current-location">
            <marker position="current-location"></marker>
        </ng-map>
    </div>
</div>

