#homeFather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-image: url(img/jonathan-smith-142027.jpg);
}
.btn {
    margin: auto;
    display: block;
}

ng-map {
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
}

#homeBack {
    background-color: aliceblue;
    opacity: .8;
    border-radius: 1.5%;
}

.box {
    margin-bottom: 3%;
}

.result {
    margin-top: 3%
}