
    <div id='profileFather' class="row">
        <div class="col-xs-12 col-lg-6">
            <h1>{{ userService.currentUser.username }}</h1>
            <img id='profileImg' src='/components/profile/css/cute-kitten-pictures.jpg' class="img-responsive">
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h3>Change Password</h3>
                    <form>
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" id="newPassword" class="form-control" ng-model="passwords.newPassword">
                        </div>
                        <div class="form-group">
                            <label for="newPasswordRepeat">Repeat New Password</label>
                            <input type="password" id="newPasswordRepeat" class="form-control" ng-model="passwords.newPasswordRepeat">
                        </div>
                        <button class="btn btn-primary" ng-click="changePassword(passwords)">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


