div {
    text-align: center;
}

.box {
    border: 1px solid black;
    border-radius: 1%;
    background-color: aliceblue;
    opacity: .8;
    margin-top: 10%;

}

body{
background: url('weather.jpg') no-repeat center center fixed;
}

.btn{
     margin-bottom: 1%; 
}
h1 {
    color: white;
}