#profileFather{
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    align-items: center;
    
}

#profileImg{
    width:20%;
    height: auto;
}
body{
    background-size: cover;
    background-image: url(jesse-collins-153658.jpg);
}
h3, label{
    color: white;
}
input{
    background-color: red;
}