<div id='navFather' class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navSon">
        <ul class="nav navbar-nav">
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/home">Home</a></li>
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/weather">Weather</a></li>
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/fishing-hole">Fishing Hole</a></li>
            <li class='navbarItem' ng-hide="userService.isAuthenticated()"><a class='anchor' href="#/login">Login</a></li>
            <li class='navbarItem' ng-hide="userService.isAuthenticated()"><a class='anchor' href="#/signup">Signup</a></li>
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/logout">Logout</a></li>
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/profile">Profile</a></li>
        </ul>
    </div>
    <div id='dropdown' class='navHam hidden-xs'>
        <span class="dropbtn glyphicon glyphicon-menu-hamburger" onclick="myFunction()"></span>

        <div id="myDropdown" class="dropdown-content">
            <a href="#/home" ng-show="userService.isAuthenticated()">home</a>
            <a href="#/weather" ng-show="userService.isAuthenticated()">weather</a>
            <a href="#/fishing-hole" ng-show="userService.isAuthenticated()">fishing holes</a>
        </div>
    </div>
</div>
