<div id='navFather' class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class='navbarItem' ng-hide="userService.isAuthenticated()"><a class='anchor' href="#/login">Login</a></li>
            <li class='navbarItem' ng-hide="userService.isAuthenticated()"><a class='anchor' href="#/signup">Signup</a></li>
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/logout">Logout</a></li>
            <li class='navbarItem' ng-show="userService.isAuthenticated()"><a class='anchor' href="#/profile">Profile</a></li>
        </ul>
    </div>
    <div id='dropdown' class='navHam'>
        <button onclick="myFunction()" class="dropbtn">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#/login">Link 1</a>
            <a href="#/signup">Link 2</a>
            <a href="#/logout">Link 3</a>
            <a href="#/profile">Link 3</a>
        </div>
    </div>
</div>
