body{
    height: 100vh;
    background-size: cover;
    background-image: url(austin-neill-168427.jpg);
}

form {
    display: flex;
    flex-direction: column;
}

#newHole,
#holes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}