
<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <button class="btn btn-success" ng-disabled="true" ng-show="itExists == true">
            Please launch your boat first
        </button>

        <button class="btn btn-success" ng-show="itExists == false " ng-click="getWeatherInfo()">
            Get Weather Info
        </button>

    <h2>Date: {{date}}</h2>
    <h2>Swell Direction: {{swellDirection}}</h2>
    <h2>Cloud Cover: {{cloudCover}}</h2>
    <h2>Wind Chill: {{windChill}}</h2>
    <h2>Sig Wave Height: {{sigWaveHeight}}</h2>
    <h2>Wind Speed: {{windSpeed}}</h2>
    <h2>Wind Direction: {{windDirection}}</h2>
    <h2>Visibility: {{visibility}}</h2>

</div>
</div>