<div class="row">
    <div class="col-md-4 col-md-offset-4">

<div class="box">
    <h4>Date: </h4>
        <h5><u>{{date}}</u></h5>
    <h4>Swell Direction: </h4>
        <h5><u>{{swellDirection}}</u></h5>
    <h4>Cloud Cover: </h4>
        <h5><u>{{cloudCover}}</u></h5>
    <h4>Wind Chill: </h4>
        <h5><u>{{windChill}}</u></h5>
    <h4>Sig Wave Height: </h4>
        <h5><u>{{sigWaveHeight}}</u></h5>
    <h4>Wind Speed: </h4>
        <h5><u>{{windSpeed}}</u></h5>
    <h4>Wind Direction: </h4>
        <h5><u>{{windDirection}}</u></h5>
    <h4>Visibility: </h4>
        <h5><u>{{visibility}}</u></h5>

        <button class="btn btn-primary" ng-disabled="true" ng-show="itDoesNotExist == true">
            Please launch your boat first
        </button>

        <button class="btn btn-primary" ng-show="itDoesNotExist == false" ng-click="getWeatherInfo()">
            Get Weather Info
        </button>
</div>
</div>
</div>